.vscode/
__pycache__/
/tmp/
*.py[cod]
*.mp4
*.jpg
*.ttf
*.txt
*.dSYM
tempCodeRunnerFile.*
nanobench.h
/day19.cc
/day19
/day16

# pixi environments
.pixi
*.egg-info
# magic environments
.magic
magic.lock
